body {
    color: black;
    background-color: rgb(133, 150, 151);
    text-align: left;

    padding: 0;
    margin: 0;
}

.header {
    font-size: 30px;

    padding-bottom: 10px;
    margin: 0;
    width: 100%;

    background-color: black;
    color: white;
}

.center-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10%;
}


.name{
    padding-top: 20px;
    width: 20%;
}

.button {
    margin-left: 30px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: rgb(43, 42, 42);
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.footer {
    position: fixed; 
    left: 0;
    bottom: 0; 

    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.login-content {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 20px;
}

.head-text{
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.center {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.antiques-table {
    margin: 0 auto;
}

.antiques-table-cell{
    padding: 10px;
}

.wrapper-antique {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    text-align: center;
}
.catalog{
    font-size: 20px;
}

.search{
    padding: 20px;
}
.filter {
    padding: 20px;
}
.button-search{
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.content {
    margin-left: 20px;
}

.information-tables{
    margin-left: 20%;
    margin-right: 20%;
}

.text-center{
    text-align:center;
}

.center-panel{
   margin-left: 30%;
   font-size: 20px;
}